@media (min-width: 768px) {
    .space {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
    
    .left {
        text-align: left;
    }
    
    .right img {
        max-height: 90vh;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    .web {
        font-size: 3rem;
    }
    
    .heading {
        margin-left: 1rem;
        margin-right: 0;
    }
    
    .tech-stack {
        justify-content: flex-start;
    }
    
    .order-btn {
        margin-left: 1rem;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    section {
        padding: 0 10%;
    }
    
    .right {
        max-width: 35vw;
    }
    
    .right img {
        max-height: 90vh;
    }
    
    h1 {
        font-size: 3rem;
    }
    
    .web {
        font-size: 4.5rem;
    }
}

/* Special cases for very small screens */
@media (max-width: 450px) {
    h1 {
        font-size: 1rem;
    }
    
    .web {
        font-size: 1.3rem;
    }
    .right img {
        max-height: 70vh;
    }
    
    .tech-stack img {
        height: 17px;
    }
    .heading {
    
        font-size: 0.5rem;
        padding: 0.5rem 1rem;
        border-radius: 1.5rem;
    }
    
    .order-btn {
        padding: 0.4rem 1rem;
        font-size: 0.5rem;
    }
}